.new-bst{
    background: #E5E5E5;
    padding-top: 70px;
    padding-bottom: 40px;
    .box-bst-item{
        background: #fff;
        padding: 40px 40px 10px 40px;
        .box-bst{
            margin-bottom: 30px;
        }
    } 
    .news{
        padding:25px 30px;
        background: #fff;
        .head-box{
            border-bottom: 4px solid #FAFAFA;
            margin-bottom:10px;
            padding-bottom:10px;
            h3{
                font-weight: 700;
                font-size: 20px;
                line-height: 27px;
                color: #ED008C; 
            }
        }
        li{
            margin-bottom: 0px;
            padding: 20px 0px;
            border-bottom: 1px solid #EAEAEA;
            .content-news{
                .desc-news{
                    padding-left: 30px;
                }
            }
            &:last-child{
                border: none;
            }
        }
    }
    .content-detail-bst{
        overflow: hidden;
        background: #fff;
        padding: 30px 30px 10px 30px;
        .tasb-bst{
            padding: 10px 20px 0px 20px;
            display: block;
            overflow: hidden;
            background: #F9F9F9;
            margin-bottom: 25px;
            li{
                list-style: none;
                float: left;
                padding:10px 30px;
                position: relative;
                a{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: #3B4045;
                }
                &::before{
                    position: absolute;
                    content: "";
                    width: 57px;
                    height: 3px;
                    background:transparent;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    margin: auto;
                }
                &.active{
                    &::before{
                        background: #ED008C;
                    }
                }
            }
        }
        .detail-bst{
            h1{
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                color: #3B4045; 
                margin-bottom: 15px;
            }
            .time-bst{
                font-weight: 300;
                font-size: 16px;
                line-height: 25px;
                color: #615F5F;
                margin-bottom: 15px;
            }
            p{
                font-size: 16px;
                line-height: 22px;
                text-align: justify;
                color: #000;
                margin-bottom: 20px;
            }
        }
        .box-img-detail-bst{
            img{
                border-radius: 6px;  
            } 
            margin-bottom: 20px;
        } 
        .box-product{
            margin-bottom: 20px;
        }
        .phantrang{
            margin-top: 45px;
            margin-bottom: 30px;
            float: none;
            display: inline-flex;
        }
    }
    &.news-page{ 
        .content-detail-bst{
            .head-box{
                padding-bottom: 10px;
                margin-bottom: 20px;
            }
            .tasb-bst{
                li{
                    &::before{
                        width: 90px;
                    }
                }
            }
            .news{
                padding: 0px;
                li{
                    border: 1px solid #EDEDED; 
                    border-radius: 6px;
                    padding: 15px;
                    margin-bottom: 20px;
                    .content-news{
                        .desc-news{
                            max-width: 100%;
                        }
                    } 
                }
            }
        }
    }
    @media (max-width:768px){
        .box-bst-item{
            padding: 15px;
        }
        .news{
            padding: 15px;
            li{
                .content-news{
                    .desc-news{
                        padding-left: 15px;
                    }
                }
            }
        }
        .content-detail-bst{ 
            .tasb-bst{
                padding: 10px;
                li{
                    padding: 10px;
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
        &.news-page{
            .content-detail-bst{
                padding: 15px;
            }
            li {
                .content-news{
                    display: block;
                    .img-news{
                        img{
                            width: 100%;
                        }
                    }
                    .desc-news{
                        padding-left: 0px;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}
