.content-danhmuc{
  background: #FAFAFA;
  padding-top: 40px; 
  .banner-danhmuc{
    img{
      width: 100%;
      height: auto;
    }
  }
  .content-danhmuc-item{
    padding: 30px 20px;
    background: #fff;;
    margin-top: 40px;
    overflow: hidden;
  }
  .box-filter{
    h2.title-filter{
      font-weight: 700;
      font-size: 18px;
      line-height: 25px; 
      color: #8DC73F;
      margin: 20px 0px;
    }
    .side-menu{
      >li{
        padding:15px 0px;
        border-bottom: 1px solid #EAEAEA;
        a{
          font-weight: 400;
          font-size: 16px;
          line-height: 22px; 
          text-align: center; 
          color: #3B4045;
        }   
        &.has-dropdown::after{
          display: flex;
          justify-content: center;
          align-items: center; 
        }
        &.has-dropdown.is-active:after{
          transform: rotate(180deg);
        }
        .item-category{
          display: none;
          li{
            padding: 15px;
            border-bottom: 1px solid #EAEAEA;
            &:last-child{
              border-bottom: none;
              padding-bottom: 0px;
            }
            &:first-child{
              margin-top: 15px;
              border-top:1px solid #EAEAEA;
            }
          }
        }
      }
    }
    .list-size{
      li{ 
        display: flex;
        a{
          display: inline-flex;
          width: 50%; 
          padding:8px;
          justify-content: center;
          align-items: center;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;  
          color: #57636F;
          background: #F6F6F7;
          border-radius: 5px;
          margin-bottom: 10px;
          &:first-child{
            margin-right: 5px;
          }
          &:last-child{
            margin-left: 5px;
          }
          &.active{
            background:#8DC73F;
            color: #fff;
          }
        }
      }
    }
    .list-price{
      li{
        display: flex; 
        a{
          width: 50%;
          display: inline-flex;
          text-align: center;
          padding: 10px;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;  
          color: #172F35;
          border: 1px solid #E3E3E3;
          box-sizing: border-box;
          border-radius: 40px;
          background: #F8F8F8;
          justify-content: center;
          align-items: center;
          margin-bottom: 15px;
          &:first-child{
            margin-right:7px; 
          }
          &:last-child{
            margin-left:7px;
          }
        }
        &.size-price{
          background: #F8F8F8;
          border-radius: 4px;
          padding: 15px;
          margin-bottom: 15px;
          a{
            background: #FFFFFF;
            color: #A5A5A5; 
            font-weight: 400;
            &:first-child{
              margin-right:10px;
              position: relative;
              &::after{
                position: absolute;
                content: "";
                width: 5px;
                height: 2px;
                color: #000; 
                background: #000;
                right: -15px;
                top: 15px;
              }
            }
            &:last-child{
              margin-left:10px;
            }
          }
        }
      }
    }
    .btn-apply{
      background: #8DC73F;
      border-radius: 40px;
      width: 100%;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px; 
      color: #FFFFFF;
      border: none;
      padding: 12px;
      margin-top: 15px;
    }
  }
  .box-product{
    margin-bottom: 30px;
  }
  .filer-right{
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    background: #FAFAFA;
    li{
      span{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px; 
        color: #3B4045;
        display: inline-flex;
        margin-right:20px;
      }
      a{
        display:inline-flex;
        background: #FFFFFF;
        border: 1px solid #DADADA;
        padding: 6px 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;  
        color: #3B4045;
        margin-right: 10px;
        &.active{
          background: #8DC73F;
          color: #fff;
          border-color:#8DC73F;
        }
      }
    }
    @media (min-width:768px) and (max-width:991px) {
      li{
        span{
          font-size: 14px;
        }
        a{
          font-size: 14px;
        }
      } 
    }
    @media (max-width:768px){
      padding: 15px;
      margin-top: 40px;
      li{
        span{
          font-size: 14px;
        }
        a{
          font-size: 14px;
        }
      } 
    }
    @media (max-width:425px){
      li{
        span{
          display: none;
        } 
      } 
    }
  }
}
.title-search{
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ED008C;
  padding-bottom: 25px;
  border-bottom: 4px solid #FAFAFA;
  margin-bottom: 60px;
}
.sale-page{
  background: #E5E5E5;
  .box-sales{
    margin-bottom: 20px; 
  }
  .banner-sale{
    img{
      width: 100%;
      border-radius: 8px;
    }
  }
  .time-coutdow{
    display: flex;
    margin-bottom: 50px;
    li{
      width: 25%;
      padding: 15px;
      background: #F5F5F7; 
      p{
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-align: center; 
        color: #3B4045;
        &:last-child{
          font-weight:400;
          color: #949698;
          margin-bottom: 0px;
        }
      } 
      &.active{
        background: #8DC73F;
        p{
          color: #fff;
        }
      }
    }
  }
  .box-product{
    margin-bottom: 40px;
    .name-product{
      margin: 20px 0px 10px 0px;
      padding: 0px 33px;
    }
    .process{
      height: 12px; 
      max-width: inherit;
      margin-top:5px;
      &::before{
        height: 12px;
      }
    }
    span.spdb{
      font-weight: 300;
      font-size: 12px;
      line-height: 16px; 
      display: block;
      text-align: left;
    }
    .price{
      text-align:right;
      margin-bottom: 16px;
      span{
        float: left;
        display: inline-block;
        width: inherit;
      }
    }
    .by-now{
      background: #8DC73F;
      border-radius: 8px;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #fff;
      width: 100%;
      padding: 10px;
      display: block;
    }
  }
}
.selling-products{
  .phantrang{
    float:none;
    margin-bottom: 20px;
  }
}