.content-chitietdon{
  background: #E5E5E5;
  padding-top: 70px;
  padding-bottom: 40px;
  .profile-custom{
    padding: 25px 20px;
    background: #fff;
    .profile{
      display: flex;
      .avata-prf{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 3px solid #0000000f;
        img{
          width: 100%;
        }
      }
      .desc-pf{
        margin-left: 20px;
        .name-prf{
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          color: #3B4045;
        }
        .phone-pf{
          font-weight: 400;
          font-size: 14px;
          line-height: 19px; 
          color: #3B4045;
        }
        .diem-tic-pf{
          font-weight: 600;
            font-size: 16px;
            line-height: 22px;  
            color: #B4171E; 
            text-decoration: none;
         
          img{
            width: 24px;
            height: auto;
            margin-right: 9px;
          }
          span{
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #333333;
            text-decoration: underline;
            margin-left: 3px;
          }
        }
      }
    }
    .info-pf{
      margin-top: 50px;
    } 
    @media (min-width:992px) and (max-width:1199px){
      padding: 15px;
      .profile{
        display: block;
        .avata-prf{
          margin: auto;
        }
        .desc-pf{
          margin-left: 0px;
          margin-top: 15px;
          text-align: center;
        }
      } 
    }
    @media (min-width:768px) and (max-width:991px){
      padding: 15px;
      .profile{
        display: block;
        .avata-prf{
          margin: auto;
        }
        .desc-pf{
          margin-left: 0px;
          margin-top: 15px;
          text-align: center;
        }
      }
    }
  }
  .list-info{
    li{
      list-style: none;
      padding: 10px 0px; 
      border-bottom: 3px solid #F9F9F9;
      a{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px; 
        color: #3B4045;
        display: inline-flex;
        align-items: center;
      }
      &:hover a{
        color: #8dc73f;
      }
      &:first-child{
        padding-top: 0px;
      }
      &:last-child{
        border: none;
        padding-bottom: 0px;
      }
      span{ 
        width: 35px;
        height: 35px;
        display: inline-flex;
        margin-right: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        img{
          max-width: 100%;
        }
      } 
      @media (min-width:768px) and (max-width:991px){
        span{
          margin-right:10px;
          width: 25px;
          height: 25px;
        }
        a{
          font-size: 14px;
        }
      }
    }
  }
  .info-lq{
    margin-top: 15px;
    padding: 25px 20px;
    background: #fff;
  }
  .box-process{
    padding: 40px 40px 20px 40px;
    background: #fff;
    overflow: hidden;
    .progressbar{
      counter-reset: step;
      li {
        position: relative;
        list-style: none;
        float: left;
        width: 20%;
        text-align: center;
        span{
          display: none;
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          background: #E6E7E8 ;
          top: 16px;
          left: -50%;
          z-index:1; 
        }
        &::before {
          position: relative;
          content: counter(step);
          counter-increment: step;
          width:30px;
          height:30px; 
          display: block;
          text-align: center;
          margin: 0 auto 10px auto;
          border-radius: 50%;
          background-color: #E6E7E8; 
          line-height: 39px;
          font-size: 0;
          z-index: 2;
        } 
        &:first-child:after {
          content: none;
        }
        &.active:before { 
          content: "";
          background: url(../img/icon-tic.png) #00E676;  
          background-size: 15px;
          background-repeat: no-repeat;
          background-position: center center;
        }
        &.active + li:after {
          background: #00E676;
        }
        &.active{
          font-weight: bold;
          span{
            display:block;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px; 
            color: #848181;
          }
        }
      }
    }
    @media (min-width:768px) and (max-width:991px){
      padding:15px;
    }
    @media (max-width:767px){
      margin-top: 15px;
      padding:15px;
    }
  }
  .detail-don-hang{
    padding: 40px 40px 20px 40px;
    background: #fff; 
    .box-detail-don-hang{
      border-bottom: 5px solid #F8F8F8;
      padding-bottom: 40px;
    }
    .text-don-hang, .time-don-hang{
      p{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px; 
        color: #3B4045;
        >span:first-child{
          min-width: 100px;
          display: inline-block;
          margin-right:15px;
        }
        span.stc-dh{
          color:#00e676;
        }
      }
    }
    .time-don-hang{
      p{
        text-align: right;
      }
    }
    @media (min-width:768px) and (max-width:991px){
      padding:15px;
      .time-don-hang{
        p{
          text-align: left;
        }
      }
    }
    @media (max-width:767px){ 
      .time-don-hang{
        p{
          text-align: left;
        }
      }
      padding: 15px;
    }
  }
  .hinhthuc-giaohang{
    padding-top: 30px;
    h5.heading-giaohang{ 
      font-weight: 600;
      font-size: 16px;
      line-height: 22px; 
      color: #EF5DA8;
      margin-bottom: 23px;
    }
    .box-item{
      padding: 20px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
      min-height: 160px;
      margin-bottom: 20px;
      .name{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px; 
        color: #3B4045;
      }
      .phone{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px; 
        color: #3B4045;
      }
      .addresse-item{
        font-weight: 300;
        font-size: 16px;
        line-height: 22px; 
        color: #3B4045; 
      }
      .giao-hang-nhanh{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #8DC73F;
        span{ 
          color: #DA2127;
          display: inline-block;
          float: right;
        }
      }
      .km-item{
        font-weight: 400;
        font-size: 14px;
        line-height: 19px; 
        color: #000000;
      }
    }
  } 
}
.table-product-dh{
  padding: 40px 40px 20px 40px;
  background: #fff;
  margin-top: 15px; 
  .table > thead > tr > th{
    border: none; 
  } 
  .table > tbody > tr > td{
    vertical-align:inherit;
  }
  .box-tb-hd{
    display: flex;
    padding-left:0px;
    padding-right: 0px; 
    .img-tb-hd{
      overflow: hidden;
      img{
        width: 110px;
        height: 110px;
        border-radius: 10px;
      }
    }
    .desc-tb-dh{
      margin-left: 10px;
      .name-tb-dh{
        font-weight: 400;
        font-size: 14px;
        line-height: 19px; 
        color: #3B4045;
      } 
      .color-tb-dh, .size-tb-dh{
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;  
        color: #57636F;
      }
    }
  } 
  .box-tt-dh{
    margin-top: 15px;
    border-top: 5px solid #e5e5e5;
    padding: 40px 0px 20px;
    overflow: hidden;
    .item-tt-dh{
      max-width: 330px;
      width: 100%;
      float: right;
      p{
        span{
          display: inline-block;
          float: right;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px; 
          color: #1A1A1A;
          font-weight: 500;
          &.dkm{
            color:#FBBA32;
            font-weight:400;
          }
          &.tt-dh{
            lolor: #DA2127;
            font-weight: 700;
          }
        }
      }
      .btn-tt{
        margin: 20px 0px;
        width: 100%;
        border: 1px solid #DCEFC2;
        border-radius: 6px;
        padding:10px;
        display: flex;
        align-items: center;
        overflow: hidden;
        background:#fff;
        span{
          width: 50%;
          display: inline-block;
          float: left; 
          &:first-child{
            text-transform: uppercase;
          }
          &:last-child{
            text-align: right; 
            color: #FBBA32;
          }
        }
      }
      .btn-huy-dh{
        background: #8DC73F;
        border-radius: 30px;
        font-weight: 700;
        font-size: 16px;
        line-height: 25px; 
        color: #FFFFFF;
        padding: 14px;
        text-align: center;
        display: block;
        width: 100%;
        border: none;
      }
    }
  } 
  @media (min-width:768px) and (max-width:991px){
    padding: 15px;
    .box-tb-hd{
      display: block;
      .img-tb-hd { 
        margin-bottom: 15px;
      }
    }
    .table > thead > tr > th:first-child{
      width:inherit;
    }
    .price-dh, .sl-dh, .tong-dh{
      font-size: 14px;
    }
  }
  @media (max-width:767px){
    padding: 15px;  
    .box-tb-hd{
      display: block;
      .img-tb-hd { 
        margin-bottom: 15px;
        img{
          width: 40px;
          height: 40px;
        }
      }
      .desc-tb-dh{
        margin-left: 0px;
      }
    }
    .table > thead > tr > th:first-child{
      width:inherit;
    }
    .price-dh, .sl-dh, .tong-dh{
      font-size: 12px;
    }
  }
} 