@charset "utf-8";

/*======================================== config =================================*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: calc(10em / 16);
    /* for IE adjust. it's equal 62.5%*/
}
p {
    margin: 0 0 10px 0;
    line-height: 21px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover,
a:focus {
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
    color: #000000;
    text-decoration: none;
    outline: none;
}
a,
button,
input {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

* {
    margin: 0px;
    padding: 0px;
}

ul,
ol {
    padding: 0;
    margin: 0;
}
a, span, p , button {
    font-family: "Nunito", sans-serif;
}
li {
    list-style: none;
}
body {
    font-family: "Nunito", sans-serif;
    background: #fff;
    font-size: 16px;
    font-weight:400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    font-style: normal;
    color: #3B4045;
    width: 100%;
    height: 100%;
}

del {
    font-size: 12px;
    color: #999;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
    color: #272727;
    line-height: 1.1;
    margin: 0px;
    padding: 0px;
}
img {
    max-width: 100%;
}

.w_100 {
    width: 100%;
}
.row-flex {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.flex-reverse {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap-reverse;
}

@keyframes animatedown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.fixed {
    position: fixed !important;
    top: 0px;
    z-index: 99;
    width: 100%;
    transition: top 0.3s;
    animation: animatedown 0.6s;
}

[class^="clearfix"] {
    clear: both;
    display: block;
}

.clearfix-130 {
    height: 130px;
}
.clearfix-100 {
    height: 100px;
}
.clearfix-80 {
    height: 80px;
}
.clearfix-60 {
    height: 60px;
}
.clearfix-55 {
    height: 55px;
}
.clearfix-50 {
    height: 50px;
}
.clearfix-45 {
    height: 45px;
}
.clearfix-40 {
    height: 40px;
}
.clearfix-35 {
    height: 35px;
}
.clearfix-30 {
    height: 30px;
}
.clearfix-32 {
    height: 32px;
}
.clearfix-25 {
    height: 25px;
}
.clearfix-20 {
    height: 20px;
}
.clearfix-15 {
    height: 15px;
}
.clearfix-12 {
    height: 12px;
}
.clearfix-10 {
    height: 10px;
}
.clearfix-5 {
    height: 5px;
}
/*======================================== end config =================================*/

/*=========================================== begin menu =======================================*/

.menu_main {
    background: transparent;
}
.nav.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow-y: auto;
    visibility: hidden;
    width: 300px;
    max-width: 70%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-overflow-scrolling: touch;
}

.nav-container.is-visible {
    visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.nav-toggle {
    line-height: 1;
    display: inline-block;
    padding: 2px;
    border: 0;
    background-color: transparent;
    right: 15px;
    width: 45px;
    height: 50px;
    position: fixed;
    z-index: 99;
    outline: none;
}

.nav-toggle span {
    position: relative;
    margin: auto;
    display: block;
    width: 30px;
    height: 2px;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #000; /*color btn menu mobile*/
}
.nav-toggle.is-active span {
    background: transparent;
}
.nav-toggle span:before,
.nav-toggle span:after {
    content: "";
    top: -7px;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.nav-toggle.is-active span:before {
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    -ms-transform: translateY(7px) translateX(0) rotate(45deg);
    transform: translateY(7px) translateX(0) rotate(45deg);
}
.nav-toggle span:after {
    top: inherit;
    bottom: -7px;
}
.nav-toggle.is-active span:after {
    -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
    transform: translateY(-7px) translateX(0) rotate(-45deg);
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-menu {
    /* background-color: #0d7cd6; /* background menu mobile */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nav-menu .menu-item {
    border-top: 1px solid #f3f3f3;
    text-transform: uppercase;
}
.nav-menu > .menu-item.is-active {
    /*background: #085a9c;*/
}
.nav-menu > .menu-item.is-active > .menu-link {
    color: #000;
}
.nav-menu > .menu-item:hover {
    /*background:#FF9900;*/
}
.nav-menu > .menu-item:hover > .menu-link {
    color: #000;
}
.nav-menu > .menu-item.is-active.has-dropdown:after,
.nav-menu > .menu-item:hover.has-dropdown:after {
    color: #333;
}

.nav-dropdown > .menu-item {
    padding-left: 10px;
}

.nav-menu .menu-link {
    padding: 9px 18px;
    white-space: nowrap;
    text-align: left;
    display: block;
    font-size: 14px;
    color: #272727;
    font-weight: 400;
    text-transform: capitalize;
}
.has-dropdown {
    position: relative;
    cursor: pointer;
}
.has-dropdown > .menu-link {
    display: inline-block;
}
.has-dropdown:after {
    padding-top: 0px;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    content: "\f105";
    font: normal normal normal 20px/1 FontAwesome;
    color: #000;
    line-height: 39px;
    width: 40px;
    height: 40px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.has-dropdown.is-active:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.nav-dropdown {
    display: none;
    // background: #f3f3f3;
}

.nav-dropdown .nav-dropdown {
    background-color: #aaa;
}

.nav-dropdown .nav-dropdown .menu-item {
    background-color: rgb(15, 155, 163) !important;
}

.nav-menu > .menu-item > .menu-link {
    padding: 15px;
}
@media (max-width: 991px) {
    .nav-container {
        overflow-x: hidden;
        background: #fff; /* background menu mobile */
        padding-bottom: 100px;
    }
}

/*============= menu_desktop ==============*/

@media (min-width: 992px) {
    .fixed {
        box-shadow: 0 0 3px 2px #ccc;
    }

    .nav,
    .nav-container,
    .nav-container.is-visible {
        position: static;
        top: auto;
        left: auto;
        z-index: auto;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .nav-container,
    .nav-container.is-visible {
        visibility: visible;
        height: auto;
        min-height: 0;
        overflow-y: visible;
        width: 100%;
        max-width: 100%;
    }
    .nav-toggle {
        display: none;
    }
    .nav-menu > .menu-item:hover,
    .nav-menu > .menu-item.is-active {
        background-color: transparent; /* background khi hover và active menu-item */
    }

    .nav-menu .menu-item {
        -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    .nav-menu .menu-link {
        padding: 8px 15px;
    }
    .has-dropdown::after {
        content: "\f107"; /*icon dropdown menu pc */
        font: normal normal normal 14px/1 FontAwesome;
        color: #000;
        font-weight: 600;
    }
    .nav-menu > .has-dropdown:after {
        position: absolute;
        top: 50%;
        bottom: inherit;
        right:0px;
        width: 10px;
        height: 10px;
        transform: translateY(-50%);
        line-height: 10px;
        margin-top: -2px;
    }
    .nav-menu > .menu-item.is-active.has-dropdown:after,
    .nav-menu > .menu-item:hover.has-dropdown:after {
        color: #333333; /*color khi hover icon dropdown menu pc */
    }
    .nav-dropdown {
        left: 0px;
        display: block;
        opacity: 0;
        position: absolute;
        top: 100%;
        width: 165px;
        margin: 0;
        background-color: transparent;
        border-radius: 0px;
        visibility: hidden;
        webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        -webkit-transform: rotate3d(1, 0, 0, -90deg);
        -moz-transform: rotate3d(1, 0, 0, -90deg);
        -o-transform: rotate3d(1, 0, 0, -90deg);
        -ms-transform: rotate3d(1, 0, 0, -90deg);
        transform: rotate3d(1, 0, 0, -90deg);
        -webkit-transform-origin: 0 0 0;
        -moz-transform-origin: 0 0 0;
        -o-transform-origin: 0 0 0;
        -ms-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .has-dropdown:hover > .nav-dropdown {
        visibility: visible;
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        -moz-transform: rotate3d(0, 0, 0, 0deg);
        -o-transform: rotate3d(0, 0, 0, 0deg);
        -ms-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
    .nav-dropdown .menu-item {
        border: 0;
        margin-top: 1px;
    }
    .nav-dropdown .menu-item:last-child {
        border: 0;
        border-bottom: none;
    }
    .nav-dropdown .menu-item:hover,
    .nav-dropdown .nav-dropdown .menu-item:hover {
        background-color: #ff5d00; /* background khi hover  menu cấp 2 pc */
    }
    .nav-dropdown .menu-item:hover .menu-link,
    .nav-dropdown .menu-item:hover .menu-link {
        color: #ffffff;
    }
    .nav-dropdown .nav-dropdown,
    .nav-dropdown .nav-dropdown .menu-item {
        background-color: #dedede;
    }
    .nav-dropdown .nav-dropdown {
        z-index: 998;
        top: 0;
        left: 100%;
    }

    /*padding, color, font-size menu pc*/
    .nav-menu > .menu-item > .menu-link {
        display: block;
        font-style: normal;
        font-size: 16px;  
        padding: 0px;
        color: #000;
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -o-transition: all 0.15s linear;
        transition: all 0.15s linear;
        border-bottom: 4px solid transparent;
    }
    /* /padding menu pc*/

    .nav-menu > .menu-item {
        position: relative;
        float: left;
        border-top: 0px; 
        padding:0px 25px;
    }
    .nav-menu > .menu-item:nth-child(2){
        padding-left: 0px;
    }
    .nav-menu > .menu-item:last-child{
        padding-right: 0px;
    }
    .nav-menu > .menu-item.has-dropdown {
        margin-right: 20px;
    }
    .nav-menu,
    .nav {
        background: none;
    }
    .nav-menu > .menu-item.is-active > .menu-link,
    .nav-menu > .menu-item:hover > .menu-link {
        color: #000; /*color khi hover và active menu pc*/
    }

    .nav-dropdown > .menu-item {
        padding: 0;
        background: #ffffff;
    }

    .nav-dropdown > .menu-item > .menu-link {
        color: #0d0d0d;
    }
    .nav-dropdown > .menu-item:hover > .menu-link {
        color: #ffffff;
    }
    .nav-menu > .menu-item {
        position: relative;
    }
}

.menu_mb {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 9;
    padding: 1px 5px;
    height: 50px;
    box-shadow: 0 0 3px 2px #ccc;
}
.logo_mb {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    /*height: 38px;*/
    align-items: center;
    max-width: 100%;
    width: 100%;
    /*margin-top:10px;*/
    margin-left: 15px;
}
.img_logo_mb {
    max-height: 100%;
    max-width: 100%;
    height: 42px;
}
.menu_main .nav.is-fixed {
    position: relative;
    z-index: 105;
}
.logo_pc img {
    max-width: 100%;
}
.menu_header {
    background: transparent;
}
/*============= end menu_desktop ==============*/

/*=========================================== end menu =======================================*/

/*=========================================== btn search **=======================================*/
.search_drop {
    position: relative;
    margin-top: 27px;
    padding-left: 10px !important;
}

.search_drop .form_search {
    position: absolute;
    z-index: 999;
    width: 290px;
    top: 100%;
    right: -15px;
    background: #fff;
    border-top: 2px solid #0098da;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 15px 10px;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
}

.search_drop .form_search input.form-control {
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
}

.search_drop .form_search button.btn-default {
    height: 32px;
    border-radius: 0;
    background: #000;
    color: #fff;
    border: 0;
    text-transform: uppercase;
}

.search_drop .form_search:before {
    position: absolute;
    top: -8px;
    right: 19px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 6px 5.5px;
    border-color: transparent transparent #0098da transparent;
}

.search_drop .form_search.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
}

.menu_mb .search_drop {
    position: fixed;
    top: 0px;
    bottom: auto;
    height: 62px;
    left: 0;
    z-index: 999;
    margin: auto;
    border: 0;
    padding-left: 0 !important;
    cursor: pointer;
}
.menu_mb .search_drop .btn_search {
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    margin: 11px 0;
    font-size: 25px;
}
.menu_mb .search_drop .form_search:before {
    right: 13px;
}

.menu_mb .search_drop .form_search {
    position: fixed;
    right: 0px;
    width: 100%;
    top: 0;
    visibility: hidden;
    transform: translateY(0px);
}
.menu_mb .search_drop .form_search.open {
    visibility: visible;
    z-index: 11;
}

/*=========================================== end btn search **=======================================*/

/*=========================================== tìm kiếm theo danh mục **=======================================*/
.search_box {
    margin: 10px auto;
    max-width: 500px;
}
.search_box .input-group {
    display: flex;
}
.btn-select {
    height: 40px;
    border: 2px solid #0098da;
}
.btn-select option {
    padding: 5px;
}

.input_search {
    border: 2px solid #0098da;
    height: 40px;
    font-size: 12px;
    border-left: 1px solid #ccc;
}
.input_search[type="text"]:focus {
    outline: 0;
}
.but_search_top {
    background: #0098da;
    border: 2px solid #0098da;
    height: 40px;
    width: 114px;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0px;
}

.but_search_top:hover,
.but_search_top:focus,
.but_search_top.focus,
.but_search_top:active,
.but_search_top.active,
.open > .but_search_top.btn-default {
    color: #ff0000;
    background: #0098da;
    border: 2px solid #0098da;
}

/*=========================================== end tìm kiếm theo danh mục **=======================================*/

.arrow-slider {
    width: 80px;
    height: 80px;
    background: #fff;
    color: #000;
    opacity: 1;
    text-align: center;
    font-size: 34px;
    line-height: 80px;
}
.fa-angle-left.arrow-slider {
    position: relative;
}
.fa-angle-left.arrow-slider::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 60px;
    background-color: #e0e0e0;
    top: 10px;
    right: 0px;
}
.arrow-slider-1 {
    width: 45px;
    height: 45px;
    background: #fff;
    color: #5c5c5c;
    opacity: 1 !important;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    -webkit-box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
    box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
}
/*** Scroll To Top style ***/

.scroll-top {
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 105%;
    right: 30px;
    font-size: 18px;
    border-radius: 50%;
    z-index: 99;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: #000;
    -webkit-animation: pulse 2s infinite;
    -o-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    transition: 1s ease;
}
.scroll-top:hover {
    background: #ff9900;
}
.scroll-top span:before {
    font-size: 27px;
}
.scroll-top:after {
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 1;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
    background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}

.scroll-top.open {
    bottom: 30px;
}

button.scroll-top:focus {
    outline: none;
}
button.scroll-top {
    border: none;
}
@media (max-width: 991px) {
    .overlay {
        position: fixed;
        z-index: 9;
        display: none;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }
    .arrow-slider {
        width: 25px;
        height: 25px;
        font-size: 21px;
        line-height: 24px;
    }
    .arrow-slider-1 {
        width: 25px;
        height: 25px;
        font-size: 21px;
        line-height: 24px;
    } 
    .slider_main .owl-nav {
        bottom: 24px !important;
    }
    .fa-angle-left.arrow-slider::after {
        height: 20px;
        top: 3px;
    }
}

/* ================================== menu dọc ** =================================*/

.sidebar .title_sidebar {
    background: #0098da;
    color: #fff;
    font-size: 16px;
    font-family: Roboto_Bold;
    position: relative;
    padding: 15px 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.sidebar .menu-aside {
    border: 1px solid #ccc;
    padding: 5px 0;
}

.sidebar .menu-aside li {
    font-family: Roboto_Regular;
    font-size: 14px;
    border-bottom: 1px dashed #ccc;
}

.sidebar .menu-aside li a {
    display: block;
    color: #333;
    padding: 7.5px 13px;
}

.sidebar .menu-aside li:last-child {
    border-bottom: 0;
}

.sidebar .menu-aside li:hover > a,
.sidebar .menu-aside li.is-active > a {
    color: #0098da;
}
.menu-aside .has-dropdown:after {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    line-height: 40px;
    color: #000;
}

.nav-aside {
    left: 100%;
    top: -1px;
    border: 1px solid #ccc;
    z-index: 999;
    background: #fff;
}
@media (max-width: 991px) {
    .nav-aside {
        border: 0;
        border-top: 1px solid #ccc;
    }
    .sidebar .menu-aside li.has-dropdown.is-active {
        border-bottom: 1px solid #ccc;
    }
    .sidebar .menu-aside .nav-aside li a {
        padding-left: 20px;
    }
    .sidebar .menu-aside > li.has-dropdown > a {
        display: inline-block;
    }
}

/* ================================== end menu dọc **=================================*/

/*menu fix desktop*/
.fixed_bn {
    position: fixed !important;
    box-shadow: 0px 1px 6px #000;
    background: hsla(0, 0%, 0%, 0.75);
    border-bottom: 1px solid #000;
    top: 0px !important;
    z-index: 100;
    width: 100%;
    padding: 10px 0px;
}
