.congno{
    background: #fff;
    padding: 100px 15px; 
    h4{
        color: #3B3B3B; 
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        font-family: "Nunito", sans-serif;
        text-align: center;
    }
    h3{
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #ED008C;
        font-family: "Nunito", sans-serif;
    }
    .number{
        font-family: "Nunito", sans-serif;
        color: #8DC73F;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        margin-top: 7px;
        margin-bottom: 45px;
    }
    .phantrang{
        float: none;
    }
    .boxcongno{
        max-width: 600px;
        margin: 0px auto;
        background: #FAFAFA;
        padding: 35px;
        border-radius: 10px;
        .list-cno{
            li{
                font-family: "Nunito", sans-serif;
                color: #3B4045;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                padding: 10px 0px;
                border-bottom: 1px solid #F1F1F1;
                p{
                    display: flex;
                    justify-content: space-between;
                    .time-cno{
                        color: #ACABAB;
                    }
                    .price-cn{
                        color: #57636F;
                    }
                    a{
                        color: #ED008C;
                        text-decoration: underline;
                    }
                }
              
            }
        }
    }
    .table-chietkhau{
        .table{
            font-family: "Nunito", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #3B4045;
            thead{
                tr{
                    th{
                        font-weight: 400;
                    } 
                }
            }
            tbody{
                text-align: center;
                span{
                    color: #8DC73F; 
                    &.ck{
                        color: #ED008C;
                    }
                    &.total{
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
            }
        }
        p{
            span{
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                color: #DA2127;
                display:inline-block;
                margin-left: 20px;
            }
        }
    }
    &.rank{
        padding:30px 15px; 
        .box-xep-hang{
            max-width: 520px;
            width: 100%;
            margin: 0px auto;
            padding: 20px;
            border-radius:15px;
            background: #C2E395;
            .item-xep-hang{
                background: #fff;
                border: 3px dashed #C2E395;
                text-align: center;
                img{
                    max-width: 100%;
                }
                span{
                    font-family: "Nunito", sans-serif;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 21px;
                    width: 100%;
                    text-align: center;
                    display: block;
                    margin-bottom: 30px;
                }
            } 
        }
        .box-process{
            max-width: 520px;
            width: 100%;
            margin: 0px auto;
            padding:0px;
            margin-top: 30px;
            p{
                font-family: "Nunito", sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #3B4045;
                display: flex;
                justify-content: space-between;
                span{
                    &:last-child{
                        color: #8DC73F; 
                    }
                }
                &.desc-rank{
                    font-weight: 400;
                    padding-bottom: 36px;
                    border-bottom: 1px solid #D9E5EF;
                    margin-bottom: 25px;
                }
            }
            .progress{
                margin-top: 30px; 
                width: 100%;
                height: 10px;
                border-radius: 3px;
                background: #F3F3F3;
                position: relative;
                overflow:unset;
                .color{ 
                    position: absolute;
                    height: 10px;
                    top: 0px;
                    left: 0px;
                    width: 33.3%;
                    background-color:#C4C4C4;
                    border-radius: 3px;
                }
                span{
                    position: absolute;
                    top: -5px;
                    left: 32.3%;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background: #C4C4C4;
                    border:3px solid #fff;
                    z-index: 10;  
                }
                &.vang{
                    .color{
                        width: 66.6%;
                        background-color:#E09A28;
                    }
                    span{
                        left: 64.6%; 
                    }
                }
                &.kimcuong{
                    .color{
                        width: 99.9%;
                        background-color:#848484;
                    }
                    span{
                        left: 97%; 
                    }
                } 
            }
            .note-rank{
                display: flex;
                justify-content: space-between;  
                padding-top: 40px;
                border-bottom: 3px solid #D9E5EF;
                padding-bottom: 15px;
                margin-bottom: 50px;
                li{
                    position: relative;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #3B4045;
                    &::before{
                        position: absolute;
                        content:"";
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        top: -30px;
                        left: 0px;
                        right: 0px;
                        margin: auto; 
                        border: 3px solid #fff;
                        box-shadow: 0px 0px 3px #ccc;
                    }
                    &:first-child{
                        &::before{
                            background: #C4C4C4;
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            background: #E09A28;
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            background: #848484;
                        }
                    }
                }  
            }
            .history-rank{
                font-family: 'Nunito';
                margin-top: 25px;
                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #3B4045;  
                }
                span{
                    color: #8DC73F; 
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .benefit-rank{
                p{
                    position: relative;
                    padding-left: 35px;
                    padding-bottom: 20px;
                    border-bottom: 7px solid #FAFAFA;
                    margin-bottom: 30px;
                    &::before{
                        position: absolute;
                        content: "";
                        top: 2px;
                        left: 3px;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        border: 3px solid #fff;
                        box-shadow: 0px 0px 3px #ccc;
                        background: #C4C4C4;
                    }
                }
            }
        }
    }
    @media (max-width:991px) {
        width: 100%;
        overflow-x: scroll;
    }
}