.detail-pages{  
  .box-product-detail{
    padding: 60px 30px 20px 30px;
    background: #fff;
    margin-top: 74px;
  }
  .gc-display-area, .glass-case ul li{
    border: 1px solid #ccc; 
    border-radius: 10px;
    padding: 0px;
    img{
      border-radius: 10px;
    }
  } 
  .desc-detail{
    @media (max-width: 767px){ 
      margin-top:30px;
    }
    .name-detail{
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: #3B4045;
      margin-bottom:40px;
    } 
    .rating-css{
      font-size: 20px;
      .number-star{
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #3B4045;
      }
      margin-bottom: 40px;
    } 
    .check-color{
      margin-top:40px;
      display: flex;
      align-items: center; 
      @media (max-width: 575px){
        display: block;
        margin-top:20px;
      } 
      .st1{
        input[type='radio']:after{
          background:#FF809F;
        }
      }
      .st2{
        input[type='radio']:after{
          background: #AAC1CF;
        }
      }
      .st3{
        input[type='radio']:after{
          background: #C7DC5B ;
        }
      }
      .st4{
        input[type='radio']:after{
          background: #FED883 ;
        }
      }
      
      input{
        width: 38px;
        height:38px;
        margin-right:15px;
        &:hover{
          cursor: pointer;
        }
      }
      input[type='radio']:after {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        top: 0px;
        left: 0px;
        position: relative;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 5px solid transparent;
      }
      input[type='radio']:checked:after {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        top: 0px;
        left: 0px;
        position: relative;
        content: '';
        display: inline-block;
        visibility: visible;
        border:5px solid #F6F6F7;
      }
    }
    span.text-option{
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      color: #3B4045;
      display: inline-flex;
      min-width: 100px;
      max-width: 100px;
      @media (max-width: 575px){
        width:100%;
        margin-bottom: 25px;
        display: block;
      }
    }
    .size-detail{
      display: flex; 
      align-items: center;
      @media (max-width: 575px){
        display: block;
      }
      li{
        display: inline-flex;
        
        a{
          width: 39px;
          height: 39px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background: #F6F6F7;
          border-radius:7px;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px; 
          color: #57636F;
          margin-left: 5px;
        }
      }
    }
    .tbl_cell{
      margin-top:40px;
      float: left; 
      @media (max-width: 575px){
        margin-top:20px
      }
    }
    .qtyplus {
      width:35px;
      height: 35px;
      margin: 0px;
      background: #F6F6F7;
      border: solid 1px #F6F6F7;
      border-radius: 5px;
    }
    .qtyminus {
      margin: 0px;
      width:35px;
      height: 35px;
      background: #F6F6F7;
      border: solid 1px #F6F6F7;
      border-radius: 5px;
    }
    #quantity{
      margin: 0px;
      text-align: center;
      border: solid 1px #F6F6F7;
      width: 73px;
      border-radius: 5px;
      height: 35px;
    }
    a.btn-check, button.buy-now, button.btn-addtocart{
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      box-shadow: none;
      padding: 14px 15px;
      line-height: 22px;
      width: 100%;
      margin-bottom: 15px;
    }
    .btn-by-now{
      width: 170px;
      height: 48px;
      margin-left: 55px;
      background: #8DC73F;
      border-radius: 40px;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      @media (max-width: 575px){
        display: block;
        margin-left: 0px;
        margin-top: 30px;
      }
    }
  }
}
.qtyplus {
  width:35px;
  height: 35px;
  margin: 0px;
  background: #F6F6F7;
  border: solid 1px #F6F6F7;
  border-radius: 5px;
}
.qtyminus {
  margin: 0px;
  width:35px;
  height: 35px;
  background: #F6F6F7;
  border: solid 1px #F6F6F7;
  border-radius: 5px;
}
#quantity{
  margin: 0px;
  text-align: center;
  border: solid 1px #F6F6F7;
  width: 73px;
  border-radius: 5px;
  height: 35px;
}
.content-detail{
  .box-product-content{
    margin-top: 15px;
    padding: 30px;
    background:#fff;
    .tabs-content{
      display: block;
      width: 100%;
      overflow: hidden;
      padding-bottom: 25px;
      border-bottom: 3px solid #F2F2F2;
      margin-bottom: 35px;
      li{
        float: left;
        a{
          font-weight: 600;
          font-size: 18px;
          line-height: 25px; 
          color:#A1A1A1;
        }
        &:first-child{
          margin-right: 90px;
        }
        &.active{
          a{
            color: #3B4045;
          }
        }
      }
    }
    @media (max-width: 767px){
      padding: 15px;
    }
  }
}
.content{
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: #57636F;
  }
  img{
    max-width: 100%;
    margin: 20px 0px;
  }
  .xemthem{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: block;
    width: 100%;
    text-align: center;
    color: #ED008C;
    &:hover{
      text-decoration: underline;
    }
  }
}
.content-commetn{
  .rating-css{
    font-size: 30px; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    .number-star{
      font-weight: 400;
      font-size: 18px;
      line-height: 25px; 
      color: #3B4045;
      margin-left: 10px;
    }
  }
}
.list-option{
  li{
    float: left; 
    a{
      background: #FFFFFF;
      border:1px solid #E8DBDB;
      box-sizing: border-box;
      border-radius: 4px;
      width: 130px;
      height: 45px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px; 
      color: #3B4045;
      margin-bottom: 15px;
      margin-right: 15px;
      span{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #8DC73F;
        margin-left: 5px;
      }
    }
    &.active{
      a{
        background: #F8F8F8;
      }
    }
  }
}
.list-comment{
  margin-top: 50px;
  li{
    padding: 15px 0px;
    border-top: 1px solid #F8F8F8;
    display: flex; 
    .img-avata{
      width: 54px;
      height: 54px;
      border-radius: 50%;
      overflow: hidden;
      img{
        max-width: 100%;
      }
    }
    .detail-comment{
      margin-left: 25px;
      .name-detail-comment{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px; 
        color: #3B4045;
        margin-bottom: 10px;
      } 
      .rating-css{
        font-size: 16px;
      }
      .comment{
        font-weight: 300;
        font-size: 16px;
        line-height: 22px; 
        color: #3B4045;
        p{
          font-weight: 300;
          font-size: 16px;
          line-height: 22px; 
          color: #3B4045;
        }
      } 
      .time{
        font-weight: 300;
        font-size: 14px;
        line-height: 19px; 
        color: #989898;
      } 
    }
    @media (max-width: 525px){
      display: block;
      .img-avata{
        margin-bottom:20px;
      }
      .detail-comment{
        margin-left: 0px;
      }
    }
  }
}
.phantrang{
  margin-top: 50px; 
  float: right;
  a{
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #8DC73F;
    display: inline-grid;
    justify-items: center;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px; 
    color: #8DC73F;
    border-radius: 50%;
    margin-right: 10px;
    &.active{
      background: #8DC73F; 
      color: #FFFFFF;
    } 
  }
  @media (max-width: 767px){
    float: left;
    a{
      width:35px;
      height:35px;
      margin-right:5px;
      font-size:16px;
    } 
  }
}