.gio-hang{
    background:#FAFAFA;
    padding: 70px 0px 150px 0px;
    text-align: center;
    .content-giohang{
        background:#fff;
        padding: 100px 0px; 
    } 
    p.text-page-gio-hang{
        color:#3B4045;
        font-size: 16px;
        font-weight: 600;
        margin-top: 30px;
    }
    .item-content-gio-hang{
        background:#fff;
        padding: 20px 30px 20px 30px;
        h2{
            font-size: 18px;
            line-height: 25px;
            font-weight: 700;
            color: #ED008C;
            font-family: "Nunito", sans-serif;
            text-align:left;
            margin-top: 25px;
        } 
        .table-product-dh{
            padding: 0px;
            .table{
                thead{
                    tr{
                        th{
                            padding: 20px 0px;
                            &:last-child{
                                text-align: right;
                            }
                            &:nth-child(2){
                                text-align: center;
                            }
                            &:nth-child(3){
                                text-align: center;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        th{
                            padding: 20px 0px; 
                        }
                        .tong-dh{
                            text-align: right;
                            color: #EF5DA8;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            a{
                                color:#57636F;
                                font-weight: normal;
                                display: inline-block;
                                margin-top: 15px;
                            }
                        }
                    }
                }
                #quantity{
                    width: 45px;
                }
            }
        }
        &.address-cart{
            margin-bottom: 20px;
            h2{
                margin-top: 0px;
                margin-bottom: 15px;
            }
            .box-address-cart{
                text-align: left; 
                display: flex;
                justify-content:space-between;
                .address-cart-content{
                    width: calc(100% - 100px); 
                    img{
                        margin-right: 15px;
                    }
                    span{
                        margin: 0px 7px;
                        display: inline-block;
                    } 
                } 
                .address-cart-link{
                    color: #8DC73F;
                }
            }
            #address, #address-receive, #ht-gh{
                .modal-dialog{
                    max-width: 800px;
                    width: 100%;
                    padding:30px 45px;
                    border-radius: 10px;
                    background: #fff;
                    .close {
                        margin-top: -2px;
                        width: 35px;
                        height: 35px;
                        border: 1px solid #838384;
                        border-radius: 50%;
                        position: absolute;
                        top: -10px;
                        right: -10px;
                        background: #838384;
                        opacity: 1;
                        color:#fff;
                    }
                    h2{
                        padding-bottom: 20px;
                        border-bottom: 6px solid #F8F8F8;
                        margin-bottom: 30px;
                    }
                    input, select{
                        height:52px;
                        border-radius: 30px;
                        color:#949698;
                    }
                    select{
                        appearance: none;
                    }
                    .form-group{
                        span{
                            position: absolute;
                            top: 20px;
                            right: 40px;
                            color: #A5A5A5;
                        }
                    }
                    .check-box {
                        display: block;
                        position: relative;
                        padding-left: 35px;
                        margin-bottom: 12px;
                        cursor: pointer; 
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        font-size: 16px;
                        font-weight: 400;
                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                            &:checked ~ .checkmark {
                                background-color:#ECFBD9;
                                &::after {
                                    display: block;
                                }
                            }  
                        }
                        .checkmark{
                            &::after {
                                left: 9px;
                                top: 3px;
                                width: 8px;
                                height: 14px;
                                border: solid #8DC73F;
                                border-width: 0 3px 3px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                        } 
                    }
                    .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;
                    border-radius: 5px;
                        &::after {
                            content: "";
                            position: absolute;
                            display: none;
                        }
                    }   
                    .btn-address-popup{
                        max-width: 320px;
                        border-radius: 30px;
                        font-size: 18px;
                        line-height: 25px;
                        background: #8DC73F;
                        border: 1px solid #8DC73F;
                        color: #fff;
                        padding: 12px 30px;
                    }
                    &.address-receive{
                        h2{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom:0px;
                            img{
                                margin-right: 10px;
                            }
                            .btn-address-receive{
                                font-size: 16px;
                                line-height:21px;
                                color:#3B4045;
                                border:1px solid #D9D2D2;
                                border-radius: 4px;
                            }
                        }
                        .list-address-receive{
                            li{ 
                                display: flex;
                                justify-content: center;
                                margin-bottom: 15px;
                                .ht-tt{
                                    position:relative;
                                    cursor: pointer;
                                    font-size: 22px;
                                    -webkit-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none; 
                                    margin-right: 10px; 
                                    input {
                                        position: unset;
                                        opacity: 0;
                                        cursor: pointer;
                                        height: inherit;
                                    }
                                    .checkmark {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        height:18px;
                                        width: 18px;
                                        background-color: #fff;
                                        border-radius: 50%;
                                        border:1px solid #8DC73F;
                                    }
                                    input:checked ~ .checkmark {
                                        background-color: #fff; 
                                    }
                                    .checkmark::after {
                                        content: "";
                                        position: absolute;
                                        display: none;
                                    }
                                    input:checked ~ .checkmark:after {
                                        display: block;
                                    }
                                    .checkmark:after {
                                        top: 2px;
                                        left: 2px;
                                        width: 12px;
                                        height: 12px;
                                        border-radius: 50%;
                                        background:#8DC73F;
                                    }
                                }
                                >span{
                                    margin: 0px 7px;
                                    display: inline-block;
                                }
                                .desction-gh{
                                    
                                }
                            } 
                        } 
                    }
                } 
            }
            #ht-gh{
                .modal-dialog{
                    &.address-receive{
                        .list-address-receive{
                            li{
                                justify-content: left;
                                .desction-gh{
                                    p{
                                        .price{
                                            color: #8DC73F;
                                            margin: 0px 10px;
                                        }
                                        span{
                                            color: #DA2127;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width:767px) {
            padding: 15px;
            overflow-x: scroll;
            .table-product-dh{
                width: 650px;
            }
        }
    }
    .code-cart{
        padding: 40px 30px;
        background: #fff;
        h2{
            display: flex;
            text-align: left;
            font-size: 16px;
            color:#3B4045;
            font-family: "Nunito", sans-serif;
            margin-bottom:20px;
            img{
                margin-right: 20px;
            }   
        }
        .form-input-code{
            padding: 18px;
            background: #F6F6F7;
            margin-bottom:20px;
            input{
                border-radius:30px;
                height:40px;
                border:none;
                box-shadow:none;
                max-width: 200px;
                width:100%;
            }
            .btn-code-input{
                border-radius:30px;
                min-width:112px;
                height:40px;
                background:#8DC73F;
                color:#fff;
            } 
        }
        .electer-code{
            max-width:320px;
            width: 100%;
            border-radius:30px;
            font-size:18px;
            line-height: 25px;
            background:#fff;
            border:1px solid #EF5DA8;
            color:#EF5DA8;
            padding: 12px 0px;
        }
        #electer-code{   
            .modal-dialog{
                max-width: 800px;
                width: 100%;
                padding:60px 100px 40px 100px;
                border-radius: 10px;
                background: #fff;
                .close {
                    margin-top: -2px;
                    width: 35px;
                    height: 35px;
                    border: 1px solid #838384;
                    border-radius: 50%;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background: #838384;
                    opacity: 1;
                    color:#fff;
                }
                .form-input-code{
                    padding: 30px 50px;
                    input{ 
                        height:46px; 
                        max-width: 340px;
                        width:100%;
                    }
                    .btn-code-input{ 
                        min-width:112px;
                        height:46px; 
                        background:#C4C4C4;
                        color:#fff;
                    } 
                }
                .list-code-discount{
                    margin-top: 40px;
                    margin-bottom: 50px;
                    li{
                        background:#F8F8F8;
                        padding: 10px;
                        display: flex;
                        margin-bottom: 15px;
                        .box-code-discount{
                            max-width: 117px;
                            width: 100%;
                            min-height: 105px;
                            height: 100%;
                            background:url(../img/bg-code-active.png);
                            background-repeat: no-repeat;
                            background-size: cover;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            flex-direction: column;
                            p{
                                font-size: 24px;
                                font-weight:600;
                                line-height:20px;
                                width: 100%; 
                                font-family: "Nunito", sans-serif;
                            }
                            position: relative;
                            &::after, &::before{
                                position: absolute;
                                content:"";
                                width:16px;
                                height: 16px;
                                border-radius: 50%;
                                background: #fff;
                                z-index: 10;
                                right: -23px;
                            }
                            &::after{
                                top: -17px; 
                            }
                            &::before{
                                bottom: -17px; 
                            }
                        }
                        .desc-code-discount{
                            text-align: left;
                            padding-left: 30px;
                            position: relative;
                            font-size: 14px;
                            color: #1A1A1A;
                            max-width:70%;
                            span{
                                color: #000;
                                font-size: 14px;
                                font-family: "Nunito", sans-serif;
                                line-height: 20px;
                                font-weight: 600;
                            }
                            &::after{
                                position: absolute;
                                content:"";
                                height: 100%;
                                width: 2px;
                                border-left: 2px dashed #fff;
                                top: 0px;
                                left: 15px;
                                z-index: 10;
                            }
                            a{
                               color:#ED008C; 
                            }
                        }
                        .check-discount{
                            width: calc(100% - 70% - 117px);
                            float: right;
                            label{
                                position:relative;
                                cursor: pointer;
                                font-size: 22px;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;  
                                input {
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                }
                                .checkmark {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height:18px;
                                    width: 18px;
                                    background-color: #fff;
                                    border-radius: 50%;
                                    border:1px solid #8DC73F;
                                }
                                input:checked ~ .checkmark {
                                    background-color: #fff; 
                                }
                                .checkmark::after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                }
                                input:checked ~ .checkmark:after {
                                    display: block;
                                }
                                .checkmark:after {
                                    top: 2px;
                                    left: 2px;
                                    width: 12px;
                                    height: 12px;
                                    border-radius: 50%;
                                    background:#8DC73F;
                                }
                            }
                        } 
                        &.disible-discount{
                            .box-code-discount{
                                background:url(../img/disible-check.png); 
                            }
                            .desc-code-discount {
                                color:#949698;
                                a, span{
                                    color:#949698;
                                }
                            }
                        }
                    }
                }
                .add-code-discount{
                    .btn-code-input{
                        max-width: 320px;
                        border-radius: 30px;
                        font-size: 18px;
                        line-height: 25px;
                        background: #8DC73F;
                        border: 1px solid #8DC73F;
                        color: #fff;
                        padding: 12px 0px; 
                    }
                }
                @media (max-width:767px) {
                    padding: 15px;
                    width: unset;
                    .close {
                        top: 10px;
                        right: 10px;
                    }
                }
                @media (max-width:575px) {
                    .list-code-discount{
                        li{
                            display: block;
                          .box-code-discount{
                              min-width: 100%;
                              max-width: unset;
                              background:#fbba32;
                          }
                          .desc-code-discount{
                            padding: 30px 0px;
                            width: 100%;
                            max-width: 100%;
                            &::after{
                                display: none;
                            }
                          }
                          .check-discount {
                            width: 100%;
                            float: none; 
                            label {
                                input{
                                    position: unset;
                                }
                            }
                          }
                          &.disible-discount{
                            .box-code-discount{
                                min-width: 100%;
                                max-width: unset;
                                background:#C4C4C4;
                            }
                            .desc-code-discount{
                              padding: 30px 0px;
                              width: 100%;
                              max-width: 100%;
                              &::after{
                                  display: none;
                              }
                            }
                            .check-discount {
                              width: 100%;
                              float: none; 
                              label {
                                  input{
                                      position: unset;
                                  }
                              }
                            }
                          } 
                        }
                    }
                    
                }
            }
        } 
    }
    .sum-cart{
        margin-top:20px;
        padding:40px 30px;
        background:#fff;
        p{
            display: flex;
            justify-content: space-between;
            text-align: left;
            font-size: 16px;
            color:#3B4045;
            font-family: "Nunito", sans-serif;
            margin-bottom:20px;
            span{
                color:#1A1A1A;
                font-weight:600;
            }
            &.total-sum-cart{
                font-weight:bold;
                span{
                    color:#DA2127;
                    font-weight:bold;
                }
            }
            &.tich-luy{
                span{
                    color: #8DC73F;
                }
            }
        }
        .btn-code-input{
            max-width:320px; 
            border-radius:30px;
            font-size:18px;
            line-height: 25px;
            background:#8DC73F;
            border:1px solid #8DC73F;
            color:#fff;
            padding: 12px 0px;
        } 
        &.ht-thanhtoan{
            h2{
                font-weight: bold;  
                font-size: 16px;
                color: #3B4045;
                text-align: left;
                margin-bottom: 20px;
            }
            margin-bottom: 15px;
            .list-ht-thanhtoan{
                text-align: left;
                margin-bottom: 40px;
                li{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .text-tt{
                        display:flex; 
                        img{
                            width: 52px;
                            height: 32px;
                            margin-right: 15px;
                        }
                        p{
                            display: inline-block;
                            margin-bottom: 0px;
                        }
                        span{
                            font-size: 13px;
                            color:#909499;
                        }
                    }
                    .ht-tt{
                        position:relative;
                        cursor: pointer;
                        font-size: 22px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;  
                        input {
                            position: unset;
                            opacity: 0;
                            cursor: pointer;
                        }
                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height:18px;
                            width: 18px;
                            background-color: #fff;
                            border-radius: 50%;
                            border:1px solid #8DC73F;
                        }
                        input:checked ~ .checkmark {
                            background-color: #fff; 
                        }
                        .checkmark::after {
                            content: "";
                            position: absolute;
                            display: none;
                        }
                        input:checked ~ .checkmark:after {
                            display: block;
                        }
                        .checkmark:after {
                            top: 2px;
                            left: 2px;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background:#8DC73F;
                        }
                    }
                }
            } 
        }
    }
    .delivery{
        text-align: left;
        padding:30px;
        background: #fff;
        font-size: 16px;
        color:#3B4045;
        line-height: 21px;
        margin-bottom: 20px;
        img{
            margin-right: 10px;
        } 
        >p{
            margin-bottom: 15px;
            font-weight: bold;
        }
        .content-delivery{
            display: flex;
            justify-content: space-between;
           p{
                width: calc(100% - 100px);
                span{
                    color:#EF5DA8;
                }
           }
           a{
               font-size: 14px;
               color:#8DC73F;
           }
        }
    }
    .check-tick-luy{
        display: flex;
        justify-content: space-between; 
        align-items: flex-start;
        padding: 30px;
        background: #fff;
        margin-bottom: 20px;
        margin-top: 20px;
        img{
            margin-right: 10px;
        }
        .text-tick-luy{
            p{
                color:#3B4045;  
                font-size: 12px;
            }
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 33px;
            height: 14px;
            background: #fff;
            input { 
                opacity: 0;
                width: 0;
                height: 0;
                &:checked + .slider {
                    background-color: #8DC73F;
                }
                &:focus + .slider {
                    box-shadow: 0 0 1px #8DC73F;
                }
                &:checked + .slider:before {
                    -webkit-transform: translateX(20px);
                    -ms-transform: translateX(20px);
                    transform: translateX(20px);
                }
            } 
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #efe7e7;
                -webkit-transition: .4s;
                transition: .4s;
                &::before{
                    position: absolute;
                    content: "";
                    height: 18px;
                    width: 18px;
                    left: 0px;
                    bottom: -2px;
                    background:#C4C4C4;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                &.round {
                    border-radius: 14px;
                    &::before {
                        border-radius: 50%;
                    }
                }
            }
          }  
    }
    @media (max-width:767px) { 
        .sum-cart, .code-cart{
            padding: 15px; 
        }
        .code-cart{
            #electer-code{
                .modal-dialog{
                    .form-input-code{
                        padding: 15px;
                        .btn-code-input{
                            min-width: 90px; 
                        }
                    }
                }
            }
        }
    }
    
}