@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?2edfd");
  src: url("../fonts/icomoon.eot?2edfd#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?2edfd") format("truetype"), url("../fonts/icomoon.woff?2edfd") format("woff"),
    url("../fonts/icomoon.svg?2edfd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telephone:before {
  content: "\d101";
}
.icon-search:before {
  content: "\d102";
}
.icon-cart:before {
  content: "\d103";
}
.icon-thong-bao:before {
  content: "\d104";
}
.icon-right:before {
  content: "\d105";
}
.icon-left:before {
  content: "\d106";
}
