.lien-he{
  .profile-custom{
    .profile{
      align-items: center;
      .avata-prf{
        width: 60px;
        height: 60px;
      }
      .desc-pf{
        font-size: 15px;
      }
    }
  }
  .content-lien-he{
    padding: 45px 60px;
    background: #fff;
    h2{
      color: #ED008C;
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      font-family: "Nunito", sans-serif;
      margin-bottom: 30px;
    }
    .box-lien-he{
      max-width: 510px;
      width: 100%;
      margin: auto;
      text-align: center;
      .form-lien-he{
        text-align: left;
        margin-top: 50px;
        overflow: hidden;
        .form-group{
          position: relative;
        }
        label{
          margin-bottom: 17px;
          font-weight: 600;
          font-family: "Nunito", sans-serif;
        }
        input{
          background: #F6F6F7;
          border-radius: 30px;
          height: 52px;
          border: none;
          box-shadow: none;
          padding:6px 30px;
          font-size: 16px;
        }
        textarea{
          background: #F6F6F7;
          border-radius: 30px;
          box-shadow: none;
          padding:6px 30px;
          font-size: 16px;
        }
        span{
          position: absolute;
          bottom: 16px; 
          left: 25px;
          z-index: 100;
        }
        .btn-lien-he{
          font-weight: 700;
          font-size: 16px;
          line-height: 25px;
          color: #FFF;
          background: #8DC73F;
          border-radius: 30px;
          width: 175px;
          height: 52px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          float: right;
          margin-top: 27px;
        }
        &.form-dly{
          input{
            padding: 6px 30px 6px 55px;
          }
          .Date-of-birth{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .select-item{
              position: relative;
              width: 30%;
              select{
                width: 100%; 
                background: #F6F6F7;
                border-radius: 30px;
                height: 52px;
                border: none;
                box-shadow: none;
                padding:6px 30px;
                font-size: 16px; 
                text-align: left;
                appearance: none;  
              }
              i{
                position: absolute;
                right:30px;
                top:20px;
                z-index: 10;
                color: #A5A5A5;
              }
            } 
          } 
          .sex{
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            .item-sex{
              .ht-tt{
                position:relative;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;  
                display: inline-flex;
                font-weight: 500;
                font-size: 16px;
                font-family: "Nunito", sans-serif;
                margin-left:15px;
                input {
                    position: unset;
                    opacity: 0;
                    cursor: pointer;
                    height: 15px;
                }
                .checkmark {
                    position: absolute;
                    top: 1px;
                    left: -12px;
                    height:18px;
                    width: 18px;
                    background-color: #fff;
                    border-radius: 50%;
                    border:1px solid #EF5DA8;
                }
                input:checked ~ .checkmark {
                    background-color: #fff; 
                }
                .checkmark::after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                input:checked ~ .checkmark:after {
                    display: block;
                }
                .checkmark:after {
                    top: 2px;
                    left: 2px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background:#EF5DA8;
                }
              }
            } 
          }
        }
      }
      .avata-prf{
        width: 153px;
        height: 153px;
        border-radius: 50%;
        border: 5px solid #0000000f;
        margin: auto;
        img{
          width: 100%;
        } 
      }
      .name-dly{
        font-weight: 700;
        font-size: 18px;
        line-height: 25px; 
        color: #3B4045;
        margin: 20px 0px;
        font-family: "Nunito", sans-serif;
      }
      .btn-dly{
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 10px;
        width: 174px;
        height: 50px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #3B4045;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  @media (max-width:1200px) {
    .content-lien-he{
      padding: 15px; 
    } 
  }
}