.content-register{
    padding: 130px 0px;
    .box-register{
        background: #FFFFFF;
        border: 1px solid #C9C9C9;
        box-sizing: border-box;
        border-radius: 20px; 
        display: flex;
        .item-register{
            width: 50%;
            padding:110px 0px 25px 0px;
            .form-register{
                max-width: 400px;
                width: 100%;
                margin: auto;
                text-align: center;
                h2{
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 27px;
                    color: #3B4045;
                    margin-bottom: 60px;
                }
                input{
                    height: 52px;
                    background: #F6F6F7;
                    border-radius: 30px;
                    border:none;
                    padding: 0px 30px;
                    box-shadow: none;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    &::-webkit-input-placeholder { 
                        color: #949698;
                    } 
                    &:-ms-input-placeholder {
                        color: #949698;
                    }  
                    &::placeholder {
                        color: #949698;
                    }
                }
                .pass-input{
                    position: relative;
                    span{
                        color: #949698;
                        position: absolute;
                        right: 30px;
                        top: 20px;
                    }
                }
                p{
                    padding-right: 10px;
                    a{
                        color: #DA2127;
                        &:hover{
                            color:#8dc73f;
                        }
                    }
                }
                .vendo{
                    padding:0px 20px;
                    p.item-vendo{
                        display: flex;
                        justify-content:space-between;
                        padding-left: 20px;
                        label{
                            position: relative;
                            cursor: pointer;
                            font-size: 22px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                            }
                            .checkmark {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 24px;
                                width: 24px;
                                background-color: #fff;
                                border-radius: 50%;
                                border:1px solid #8DC73F;
                            }
                            input:checked ~ .checkmark {
                                background-color: #fff; 
                            }
                            .checkmark::after {
                                content: "";
                                position: absolute;
                                display: none;
                            }
                            input:checked ~ .checkmark:after {
                                display: block;
                            }
                            .checkmark:after {
                                top: 2px;
                                left: 2px;
                                width: 18px;
                                height: 18px;
                                border-radius: 50%;
                                background:#8DC73F;
                            }
                        }
                    }
                }
                .btn-register{
                    height: 52px;
                    background: #8DC73F;
                    border-radius: 30px;
                    border:none;
                    padding: 0px 30px;
                    box-shadow: none;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                    width: 100%;
                    color: #FFFFFF;
                    margin: 10px 0px;
                }
                .text-or{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    text-align: center;
                    color: #3B4045;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    text-transform: capitalize;
                }
                .social-login{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    li{
                        display: inline-flex;
                        padding: 0px 24px;
                        img{
                            display: block;
                            clear: both;
                        }
                        span{
                            clear: both;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 19px; 
                            color: #615F5F;
                            display: inline-flex;
                            margin-top: 10px;
                        }
                        &:first-child{
                            padding-left: 0px;
                        }
                        &:last-child{
                            padding-right: 0px;
                            span{
                                margin-top:5px;
                            }
                        }
                    }
                }
                .text-register{
                    text-align: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #3B4045;
                    margin-top: 80px;
                    a{
                        color:#8DC73F;
                    }
                }
            }
        }
        .img-register{ 
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 0px 20px 20px 0px;
            img{
                flex-shrink: 0;
                min-width: 100%;
                min-height: 100%; 
            }
        }
    }
    .box-forget-pass{ 
        border: 1px solid #C9C9C9;
        box-sizing: border-box;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
        border-radius: 20px;
        max-width: 645px;
        margin: auto;
        padding: 62px 0px 73px 0px;
        .item-forget{
            max-width: 400px;
            margin: auto;
            text-align: center;
        }
        h2{
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            color: #3B4045;
            margin-bottom: 44px;
        }
        p{
            margin-bottom: 34px;
        }
        input{
            height: 52px;
            background: #F6F6F7;
            border-radius: 30px;
            border:none;
            padding: 0px 30px;
            box-shadow: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 30px;
            &::-webkit-input-placeholder { 
                color: #949698;
            } 
            &:-ms-input-placeholder {
                color: #949698;
            }  
            &::placeholder {
                color: #949698;
            }
            &:last-child{
                margin-bottom: 0px;
            }
        }
        .btn-register{
            height: 52px;
            background: #8DC73F;
            border-radius: 30px;
            border:none;
            padding: 0px 30px;
            box-shadow: none;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            width: 100%;
            color: #FFFFFF;
            margin: 10px 0px;
        }
        &.ma-xa-nhan{ 
            .item-forget{
                max-width: 415px;
            }
            p{
                margin-bottom: 15px;
                &.ma-otp{
                    margin-bottom: 35px;
                }
            }
            input{
                width: 64px;
                height: 64px;
                border-radius: 6px;
                margin-right:15px;
                padding: 10px 17px;
                text-align: center;
            } 
        }
        .pass-input{
            position: relative;
            span {
                color: #949698;
                position: absolute;
                right: 30px;
                top: 20px;
            }
        }
        &.update-pass{
            input{
                margin-bottom: 15px;
            }
        }
    } 
    @media (max-width:991px){ 
        padding: 80px 0px 45px 0px;
        .box-register{
            display: block;
            width: 100%;
            .item-register{
                width: 100%;
                padding: 80px 15px 45px 15px;
            }
            .img-register{
                display: none;
            }
        }
        .box-forget-pass{
            padding: 40px 15px;
        }
        
    }
} 