@media (min-width: 1365px) /* lg*/ {
  .container {
    width: 1365px;
  }
  .col-20{
    width: 20%!important;
  }
  .row-20{
    margin: 0px -20px;
  }
  .pdd-20{
    padding: 0px 20px;
  }
} 
@media (min-width: 1200px) and (max-width:1365px){
  .nav-menu > .menu-item{
    padding: 0px 10px!important;
  }
  .nav-menu > .menu-item.has-dropdown {
    margin-right: 15px;
  }
  .nav-menu > .has-dropdown:after{
    right: -5px;
  }
  .account-cart li.account{
    margin-right: 20px!important;
  }
  .account-cart li.account span{
    font-size: 14px!important;
  }
}
@media (max-width: 1199px) /* lg*/ {
  .nav-menu > .menu-item > .menu-link{
    font-size: 13px;
  }
  .nav-menu > .menu-item{
    padding: 0px 10px;
  }
  .nav-menu > .menu-item.has-dropdown{
    margin: 0px;
  }
}
@media (max-width: 991px){
  .logo_mb_2{
    border: none!important;
    img{
      height: 49px;
    }
  }
} 
.menu_header {
  .header-mid {
    background: #8dc73f;
    .list-top {
      float: right;
      padding: 13px 0px;
      li {
        list-style: none;
        float: left;
        a {
          font-weight: 400;
          font-size: 16px;
          display: inline-flex;
          align-items: center;
          color: #fff;
          line-height: 22px;
          span {
            color: #fff;
            margin-right: 12px;
            &.icon-thong-bao {
              font-size: 22px;
            }
            &.icon-telephone {
              font-size: 20px;
            }
          }
        }
        &:last-child {
          margin-left: 53px;
        }
      }
    }
  }
}
.header-center{
  background: #F6F6F7;
  padding: 35px 0px 22px;
  @media (max-width: 991px){
    padding: 15px;
    margin-top: 50px;
  }
  .search-top{
    background: #fff;
    overflow: hidden;
    border-radius: 30px;
    margin-top: 32px;
    margin-bottom: 18px;
    @media (max-width: 991px){
      margin: 0px;
    }
    input{
      border: none;
      box-shadow: none;
      height: 42px;
      padding: 0px 20px;
      font-size: 14px;
      font-weight: 500;
    }
    .btn-search{
      padding: 0px;
      background:transparent;
      border: none;
      &::before{
        background:transparent;
      }
      &:active{
        outline: none;
        box-shadow: none;
      }
      button{
        border:none;
        background:#8dc73f;
        width: 86px;
        height: 42px;
        font-size: 30px;
        border-radius:20px;
        color: #fff;
        padding-top: 3px;
        outline: none; 
        @media (max-width:425px){
           width: 65px;
        }
      }
    }
  }
}
.account-cart{
  margin-top: 32px;
  float: right;
  display: flex;
  @media (max-width: 991px){
    margin: 0px;
    padding-right: 25px;
  }
  @media (max-width: 767px){
    margin: 0px;
    padding-right:0px;
  }
  @media (max-width: 425px){
    margin-top: 10px;
  }
  li{
    list-style: none; 
    display: inline-flex;
    align-items: center;
    &.account{
      margin-right:30px;
      position: relative;
      @media (max-width: 991px){
        margin-right:5px;
      }
      img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        border:2px solid #fff;
        margin-right: 10px;
        @media (max-width: 425px){
          width:25px;
          height:25px;
        }
      }
      .box-dk-dn{
        font-size: 16px;
        font-weight: 600;
        display: inline-block; 
        .box-login{
          position: absolute;
          background: #fff;
          padding: 20px;
          bottom: -175px;
          left: 0px;
          width:295px;
          z-index:-1;
          opacity: 0;
          visibility:hidden;
          transition: 0.25s; 
          &::after{
            position: absolute;
            content: "";
            width: 24px;
            height: 11px;
            background:url(../img/icon-mt-b.png);
            background-repeat:no-repeat;
            top: -10px;
            left: 45%;
          }
          a.btn{
            font-size: 16px; 
            font-weight: bold;
            color:#fff;
            background:#8DC73F;
            text-transform: uppercase;
            height: 50px;
            width: 100%;
            line-height: 38px;
            text-align: center;
            display: block;
            &:first-child{
              margin-bottom: 20px;
            }
            &:last-child{
              background:#EF5DA8;
            }
          }
          @media (min-width: 992px) and (max-width:1199px){
            width: 200px;
            left: -85px;
            bottom: -185px;
          }
          @media (min-width: 768px) and (max-width:991px){
            width: 200px;
            left: -85px;
            bottom: -185px;
          }
          @media (max-width:767px){
            width: 200px;
            left: -85px;
            bottom: -185px;
          }
          @media (max-width:425px){
            width: 150px;
            left: -85px;
            bottom: -110px;
            padding: 10px;
            a.btn{
              font-size: 14px;
              height: inherit;
              line-height:inherit;
              &:first-child {
                margin-bottom: 10px;
              }
            }
          }
        }
        &:hover{
          span{
            cursor: pointer;
          }
          .box-login{
            z-index:10;
            opacity: 1;
            visibility:visible;
            transition: 0.35s;
          }
          @media (min-width: 992px) and (max-width:1199px){
            .box-login{
              z-index:10;
              opacity: 1;
              visibility:visible;
              transition: 0.35s;
              left: -85px;  
              margin: auto;
              bottom: -175px;
            }
          }
          @media (min-width:768px) and (max-width:991px){
            .box-login{
              z-index:10;
              opacity: 1;
              visibility:visible;
              transition: 0.35s;
              left: -85px;  
              margin: auto;
              bottom: -175px;
            }
          }
          @media (max-width:767px){
            .box-login{
              z-index:10;
              opacity: 1;
              visibility:visible;
              transition: 0.35s;
              left: -85px;  
              margin: auto;
              bottom: -175px;
            }
          }
          @media (max-width:767px){
            .box-login{ 
              bottom: -110px;
            }
          }
        }
      }
      span{
        font-size: 16px;
        font-weight: 500;
        @media (max-width: 1199px){
          display:none;
        }
        @media (max-width: 991px){
          display: none;
        }
      } 
    } 
    &.cart{
      position: relative;
      img{
        width: 33px; 
      }
      span{
        position: absolute;
        top: -5px;
        right: -10px;
        display: inline-flex;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #DA2127;
        color: #fff; 
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
      }
    }
  }
}
.slider-home{
  margin-top: 45px;
  margin-bottom: 25px;
  .slider_main {
    .item{
      img{
        border-radius: 8px;
      }
    }
  }
}
.category{
  .boxcategory{
    overflow: hidden;
    background: #FAFAFA;
    padding: 25px 50px;
    @media (max-width: 991px){
      padding: 20px;
    }
    h2{
      font-size: 18px;
      font-weight: 600;
      line-height: 25px;
    }
    .category-home{
      margin-top:50px;
      overflow: hidden;
      @media (max-width: 991px){
        margin-top:20px;
      }
      li{
        list-style: none;
        width: 20%;
        float: left;
        text-align: center;
        @media (max-width: 991px){
          width:33.33%;
          margin-bottom: 25px;
        }
        @media (max-width: 575px){
          width:50%;
          margin-bottom: 25px;
        }
        @media (max-width: 375px){
          width:100%;
          margin-bottom: 25px;
        }
        .item-category{
          width: 112px;
          height: 112px;
          background: #fff;
          border-radius: 10px;
          margin: auto;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          transition: 0.25s;
          &:hover{
            border-radius: 50%;
            transition: 0.35s;
            box-shadow: 0 10px 6px -6px #777;
          }
        }
        h3.name-category{
          margin-top: 17px;
          a{
            font-size: 16px; 
            font-weight: 400;
            line-height: 22px;
            color: #3B4045;
            &:hover{
              color: #8DC73F;
            }
          } 
        }
      }
    }
  } 
}
.product-km{
  padding-top: 65px;
}
.product-km, .product-bc, .product-mn, .box-product-bc{ 
  @media (max-width: 991px){
    margin-top:20px;
  }
  h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color:#ED008C;
    @media (max-width: 767px){
      font-size:16px;
    }
  } 
  .slider-product-km{
    padding: 0px 15px;
    .owl-nav{ 
      top:-150px;
      @media (max-width: 767px){
        top:-105px;
      }
      .owl-prev,.owl-next{
        width: 32px;
        height: 32px;
        border: 1px solid #8DC73F;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color:#8DC73F;
      }
      .owl-prev{
        right:75px;
        left: unset;
      } 
      .owl-next{
        right:30px;
      }
    } 
    .box-product{
      margin-bottom: 30px;
    }
  }
}
.view-more{
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  float: right;
  margin-right: 100px;
  margin-top: -15px;
  @media (max-width: 767px){
    display: none;
  }
}
.box-product{
  text-align: center;
  transition: 0.25s;
  .img-product{
    position: relative;
    img{
      width: 100%;
      border-radius:6px; 
    }
    .discount{
      position: absolute;
      top: 25px;
      right: 20px;
      width: 45px;
      height: 40px;
      background: url(../img/icon-giamgia.png) no-repeat center center;
      background-size: contain;
      font-size: 14px;
      line-height: 19px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: 400;
    }
    .new, .sale{
      position: absolute;
      top:20px;
      right: 0px;
      background: #8DC73F;
      width: 42px;
      height: 25px;
      border-radius: 16px 0px 0px 16px;
      display:inline-flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
      color:#fff;
      line-height: 19px;
    }
    .sale{
      background: #ED008C;
    } 
  }
  .name-product{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px;
  } 
  .box-heart{
    position: absolute;
    top: 30px;
    left: 20px; 
  } 
  .process{
    max-width: 195px;
    width: 100%;
    height: 25px;
    border-radius: 13px;
    background:#FFC1C3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left:45px;
    font-size: 14px;
    font-weight: 300;
    color:#DA2127;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 45px;
      height: 25px;
      background:#DA2127;
      border-radius: 13px;
      top: 0px;
      left: 0px;
    }
  }
  .price{
    font-size: 16px;
    text-align: center;
    line-height: 23px;
    font-weight: 600;
    span{
      display: block;
      width: 100%;
      color: #949698; 
      font-weight: 400;
      text-decoration: line-through;
    }
  }
  &:hover{
    transition: 0.35s;
    border-radius:6px; 
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  }
} 
.rating-css{
  margin-bottom: 10px;
  span{
    color: #FFC1C3;
    &.checked{
      color: #FFD500;
    }
  }
}
.bg-section{
  background: #E5E5E5;
}
.product-bc, .product-mn, .new-bst-home{ 
  padding-top: 55px; 
  .box-product-bc{
    padding: 50px 30px 0px;
    @media (max-width: 991px){ 
      padding: 20px;
    }
    background: #fff; 
  }
}
.head-box{
  padding-bottom: 25px;
  border-bottom: 4px solid #FAFAFA;
  .view-more{
    margin-top: -25px;
  }
  margin-bottom: 65px;
}
.slider-product-bc{
  padding: 0px!important;
  .owl-nav{
    top: -110px!important;
    .owl-prev{
      right: 45px!important;
    }
    .owl-next{
      right: 0px!important;
    }
  }
}
.product-mn{
  margin-top: 0px!important; 
  .view-more{
    margin-right: 0px;
  }
  .box-product{
    margin-bottom: 30px;
  }
  .box-product-bc{
    padding-bottom: 0px;
  }
}
.new-bst-home{
  padding-bottom: 50px;
  .view-more{
    margin-right: 0px;
  }
  .head-box{
    margin-bottom: 50px;
  }
  
  
}
.news{ 
  li{
    margin-bottom: 35px;
    .title{
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #8DC73F;
      margin-bottom:15px;
      display: block;
    }
    .content-news{
      .img-news{
        border-radius: 6px; 
        overflow: hidden;
      }
      display: flex;
      .desc-news{
        padding-left:40px;
        max-width: 345px; 
        h5{
          a{
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #3B4045;
          }
          margin-bottom: 10px;
        } 
        p{
          font-weight: 300;
          font-size: 16px;
          line-height: 22px; 
          color: #666161; 
        }
        @media (max-width: 767px){
          padding-left:15px;
          h5{
            a{ 
              font-size: 15px;  
            } 
            margin-bottom: 5px;
          }
        }
      }
    } 
  } 
}
.main-footer{
  padding: 85px 0px 15px 0px; 
  background: #D4E1C2;
  .box-log-f{
    display: flex;
    margin-bottom:30px;
    span{
      margin-left: 20px;
      display: inline-flex;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #3B4045;
      @media (max-width: 525px){
        display: block;
        margin-left:0px;
        margin-top: 15px;
      }
    }
  }
  .address-f{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #3B4045;
    p{
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #3B4045;
    }
    .list-add{
      li{
        list-style: none;
        position: relative;
        margin-bottom: 15px;
        padding-left: 35px;
        &::after{
          position: absolute;
          content: "";
          width: 21px;
          height: 21px;
          background: url(../img/icon-address.png); 
          background-repeat: no-repeat;
          top:5px;
          left: 0px;
        }
        &:nth-child(2){
          &::after{
            background: url(../img/icon-phone.png); 
            background-repeat: no-repeat;
            top:0px;
            left: 0px;
          } 
        }
        &:nth-child(3){
          &::after{
            background: url(../img/icon-email.png); 
            background-repeat: no-repeat;
            top:0px;
            left: 0px;
          } 
        }
      }
    }
  }
  .title-f{
    font-style: normal;
    font-weight:400;
    font-size: 20px;
    line-height: 27px;
    color: #3B4045;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .menu-f{
    li{
      a{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #3B4045;
      } 
      margin-bottom: 15px;
    }
  }
  .box-f{
    margin-bottom: 35px;
  }
  .box-app-qr{
    display:flex;
    .app-box{
      margin-left: 20px;
      img{
        margin-bottom: 15px;
        clear: both;
      }
    }
  }
}
.box-sales{
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  h2{
    margin-top: 35px;
    font-weight: 700;
    line-height: 41px;
    font-size: 30px;
    color:#ED008C;
    display: inline-block;
    @media (max-width: 767px){ 
      font-weight: 600;
      line-height:23px;
      font-size:13px;
      img{
        width: 15px;
        height: auto;
      }
    }
  }
  #clockdiv{
    display: inline-block;
    margin-left: 26px;
    margin-top: 30px;
    @media (max-width: 767px){
      margin-left:15px;
    }
    li{ 
      list-style: none;
      float: left;
      width: 46px;
      height: 46px;
      border-radius: 4px;
      background:#57636F;
      display:inline-flex;
      justify-content: center;
      align-items: center;
      margin-right:30px;
      position: relative;
      &::before{
        position: absolute;
        right: -15px; 
        content:":";
        color:#57636F;
        font-size:40px;
      }
      &:last-child{
        &::before{
          display: none;
        }
      }
      span{
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
        color: #fff;
      }
      @media (max-width: 767px){
        width:25px;
        height:25px;
        margin-right: 15px;
        span{
          font-size: 13px;
          line-height: 30px;
        }
        &::before{
          right: -10px;
          font-size: 25px;
        }
      }
    }
  }
}  
.product-dai-ly{
  .head-box{
    .view-more{
      margin-top: -105px;
    }
  } 
  .list-dl{
    margin-top: 23px; 
    li{
      margin-bottom: 5px;
      a{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #8DC73F;
      }
    } 
  }
}  
.box-bst{
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
  img {
    transition: 0.25s;
    width: 100%;
  }
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.25s;
    z-index: 2;
  }
  .name-bst {
    position: absolute;
    left: 20px;
    bottom: 53px;
    z-index: 3;
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #fff;
    }
  }
  .btn-bst {
    position: absolute;
    left: 20px;
    bottom: 15px;
    background: #EF5DA8;
    opacity: 0.8;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    transition: 0.25s;
    z-index: 3;
    &:hover{
      opacity: 1;
      transition: 0.25s;
    }
  }
  &:hover{
    img{
      transition: 0.35s;
      transform: scale(1.1); 
    }
    &::before{
      transition: 0.35s;
      background: rgba(0, 0, 0, 0.55);
    } 
  }
} 
.social-footer{
  display: flex;
  margin-top: 30px;
  li{  
    a{
      background: #fff;
      width: 37px;
      height: 37px;
      font-size: 20px;
      color: #8DC73F;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 15px;
      box-shadow: 0px 4px 6px 0px #468B241F;
    }
  }
}