.thong-bao-page{
    .content-thong-bao{
        padding: 40px;
        background: #fff;
        @media (max-width:767px) {
            padding: 15px;
            margin-top: 30px;
        }
        .list-tb{
            li{
                display: flex;
                padding-bottom: 25px;
                border-bottom: 3px solid #F7F7F7; 
                .img-tb{
                    width: 61px;
                    height: 61px;
                    min-width: 61px;
                    border-radius: 50%; 
                    margin-top: 10px;
                    @media (max-width:767px) {
                        min-width: 30px;
                        width: 30px;
                        height: 30px;
                    }
                    img{
                        max-width: 100%;
                        width: 100%;
                    }
                }
                .desc-tb{
                    padding-left: 30px;
                    @media (max-width:767px) {
                        padding-left: 15px;
                    }
                    width: calc(100% - 61px);
                    h3{ 
                        a{
                            font-size: 16px;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 22px;
                            color: #3B4045;
                        }  
                    }
                    p{
                        font-size: 16px;
                        line-height: 22px;
                        color: #3B4045;
                        font-weight: 400;
                        &.time-tb{
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 25px;
                            color: #615F5F;
                        }
                    }
                } 
            }
        }
        .detail-thong-bao{
            .img-detail-tb{
                img{
                    border-radius: 6px;
                    width: 100%;
                }
                margin-bottom: 20px;
            }
            .content-detail-tb{
                h1{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 25px;
                    color: #3B4045;
                    margin-bottom: 10px;
                }
                .time-tb-detail{
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 25px;
                    color: #615F5F;
                    margin-bottom: 5px;
                    font-family: "Nunito", sans-serif
                }
                .content-item{
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 22px;
                    text-align: justify;
                    color: #3B4045;
                }
            }
        }
        .content-sp-yeu-thich{
            .box-product{
                margin-bottom:30px;
            }
        }
        .content-diachi{
            .header-diachi{
                display: flex;
                justify-content: space-between;
                margin-bottom: 25px;
                h2{
                    color: #ED008C;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                }
                .btn{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #3B4045;
                    font-family: "Nunito", sans-serif;
                    padding: 6px 12px;
                    border: 1px solid #D9D2D2;
                    border-radius: 4px;
                }
            }
            .list-diachi{
                li{
                    position: relative;
                    padding: 15px 0px;
                    border-bottom: 3px solid #F7F7F7;
                    .item-diachi{
                        display: flex;
                        margin-bottom: 10px;
                        @media (max-width:767px) {
                            display: block;
                        }
                        .item-left, .item-right{
                            font-family: "Nunito", sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            color: #949698;
                        }
                        .item-left{
                            min-width:150px;
                            @media (max-width:767px) {
                                min-width:unset;
                                width: 100%;
                            }
                        }
                        .item-right{ 
                            color: #3B4045;
                        }
                        a.md{
                            color: #DC000A;
                            display: inline-block;
                            margin-top: 5px;
                        }
                    }
                    .btn-cs{
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        color: #1A1A1A;
                        text-decoration: underline;
                    }
                }
            }
            .form-doi-mat-khau{
                max-width: 510px;
                width: 100%;
                margin: 50px auto;
                font-family: "Nunito", sans-serif;
                overflow: hidden;
                .pass-input{
                    position: relative;
                    margin-bottom: 25px;
                }
                label{ 
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px; 
                    color: #3B4045;
                }
                input{
                    background: #F6F6F7;
                    border-radius: 30px;
                    height: 52px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    color: #949698;
                    padding: 0px 30px;
                }
                span{
                    position: absolute;
                    top: 48px;
                    right: 30px;
                    z-index: 10;
                    color:#ACBAC3;
                }
                button.btn{
                    background: #8DC73F;
                    border-radius: 30px;
                    width: 175px;
                    height: 52px;
                    color: #fff;
                    float: right;
                }
            }
        }
        .list-yeu-cau{
            li{
                border: 1px solid #8DC73F;
                border-radius: 8px;
                background: #ADDC6F;
                padding: 20px 80px 20px 20px;
                color: #fff;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px; 
                position: relative; 
                margin-bottom: 15px;
                @media (max-width:767px) {
                    padding: 15px 35px 15px 15px;
                }
                a{
                    position: absolute;
                    right: 15px;
                    top: 40px;
                    color: #fff;
                    font-size: 25px;
                    width: 30px;
                    height: 30px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .content-trogiup{
            .img-trogiup{
                display: flex;
                margin-bottom: 15px;
                align-items: center;
                img{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin-right:15px;
                }
            }
            .traloi-trogiup{
                color: #8DC73F;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                font-family: "Nunito", sans-serif;
                margin-bottom: 15px;
            }
            .item-trogiup{
                padding: 20px;
                background: #F6F6F6;
                border-radius: 6px;
                margin-bottom: 25px;
                @media (max-width:767px) {
                    padding: 15px; 
                }
                .time{
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 25px;
                    color: #615F5F; 
                    margin-bottom: 15px;
                }
                &.bg-tl{
                    background: #EDFFD6;
                } 
                p{
                    margin-bottom:20px;
                }
            }
        }
        .tasb-qldon{ 
            display: block;
            overflow: hidden; 
            margin-bottom: 25px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
            text-align: center;
            li{
                list-style: none;
                float: none;
                padding:20px;
                position: relative;
                display: inline-block;
                @media (min-width:1200px) {
                    padding:20px 35px;
                }
                @media (max-width:767px) {
                    padding:15px;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 65px;
                    height: 3px;
                    background: transparent;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    margin: auto;
                }
                &.active{
                    &::before {
                        background: #ED008C;
                    }
                }
            }
        }
        .news{
            li{ 
                padding: 20px 0px;
                border-bottom: 2px solid #EFECEC;
                margin-bottom: 0px;
                .content-news{
                    .img-news{
                        width: 90px;
                        height: 90px;
                        img{
                            width: 100%;
                            max-width: 100%;
                            min-height: 90px;
                        }
                    }
                    .desc-news{
                        padding-left:25px;
                        position: relative;
                        min-width: calc(100% - 90px);
                        display: block;
                        @media (max-width:767px) {
                            padding-left:10px;
                        }
                        h5{
                            margin-bottom: 0px;
                            a{
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                color: #3B4045;
                            }
                        }
                        p{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            color: #57636F;
                            margin-bottom: 5px;
                            &.time{
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 18px; 
                                color: #848181;
                            }
                        }
                        .price{
                            position: absolute;
                            bottom: 0px;
                            right: 0px;
                            color: #8DC73F;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            @media (max-width:767px) {
                                position: unset;
                            }
                        }
                    }
                } 
            }
        }
    }
    .phantrang { 
        float: none;
        width: 100%;
        text-align: center;
    }
}
#danh-gia-don{
    .modal-dialog{
        max-width: 960px;
        width: 100%;
        .modal-content{ 
            padding: 40px;
            @media (max-width:991px) {
                padding: 15px;
            }
            .product-don{
                display: flex;
                align-items: center;
                padding-bottom: 20px;
                border-bottom: 2px solid #EDEDED;
                margin-bottom: 20px;
                .img-prd-don{ 
                    img{
                        width: 69px;
                        height: 69px;
                        border-radius: 7px;
                    }
                    margin-right: 30px;
                    @media (max-width:991px) {
                        margin-right: 15px;
                    }
                }
                h3{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #3B4045;
                }
            }
            .rating-css{
                margin-bottom: 20px;
                text-align: center;
                font-size: 36px;
            }
            .comment-danh-gia{
                padding: 20px;
                background: #F7F7F7;
                border:none;
                border-radius: 20px;
                box-shadow: none;
                margin-bottom: 20px;
            }
            .list-img{  
                display: flex; 
                padding-bottom: 20px;
                border-bottom: 2px solid #EDEDED;
                margin-bottom: 20px;
                li{
                    display: flex;
                    display: inline-flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;  
                    background: #F6F6F6;
                    border-radius: 6px;
                    margin-right: 15px;
                    position: relative;
                    width: 80px;
                    height: 80px;
                    @media (max-width:767px) {
                        width: 50px;
                        height: 50px;
                    }
                    p{
                        margin-bottom: 0px;
                        margin-top: 5px;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 13px;
                        color: #848181;
                    } 
                    .box-img{
                        overflow: hidden; 
                        img{
                            width: 100%;
                            border-radius: 6px;
                        }
                    }
                    .close{
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        z-index: 10;
                        opacity: 1;
                    }
                }
            }
            .btn-danh-gia{
                text-align: right;
                @media (max-width:767px) {
                    text-align: center;
                }
                .btn-dg{
                    background: #8DC73F;
                    border-radius: 30px;
                    width: 265px;
                    height: 52px;
                    text-align: center;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    text-transform:uppercase;
                    color: #fff;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 25px;
                }
            }
        } 
    }
}