.content-tichluy{  
  .number-tichluy{
    min-height: 335px;
    background:url(../img/bg-tichluy.png);
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background-size: cover;
    position: relative;
    z-index: 1;
    .number{
      font-weight: 700;
      font-size: 44px;
      line-height: 60px;
      font-family: "Nunito", sans-serif;
      color: #fff;
      width:175px;
      height: 175px;
      border: 10px solid #ffffff21;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::after{
        position: absolute;
        content:"";
        width:215px;
        height: 215px;
        border: 8px solid #ffffff21;
        border-radius: 50%;
        opacity: 0.5;
      }
      &::before{
        position: absolute;
        content:"";
        width:250px;
        height: 250px;
        border: 2px solid #ffffff21;
        border-radius: 50%;
        opacity: 0.8;
      }
    }
  }
  .tabs-tichluy{
    display: block;
    margin-top: 40px;
    border-bottom: 1px solid #C2E395;
    overflow: hidden; 
    li{
      list-style: none;
      float: left;
      &.active{
        a{
          background: #C2E395;
          border-radius: 9px;
          display: block;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #3B4045;  
        }
      } 
      a{
        display: inline-flex;
        align-items: center;
        padding: 13px 30px;
      }
    }
  } 
  .box-tasb-tichluy{
    position: relative;
    margin-top: -20px;
    padding: 30px;
    background: #fff;
    .tab-content{
      table{
        thead{
          tr{
            th{
              width: 33%;
              &:last-child{
                text-align: right; 
              }
            }
          }
        }
        tbody{
          tr{
            td{ 
              &:last-child{
                text-align: right;
                color:#8DC73F;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width:1200px) {
    padding: 0px;
    .number-tichluy{
      background-size: cover;
    }
    .box-tasb-tichluy{
      margin-top: -40px;
      z-index: 2;
    }
  }
  @media (max-width:991px){
    padding: 0px;
    .box-tasb-tichluy{
      padding:15px;
    }
  }
  @media (max-width:767px){
    padding: 0px;
    .box-tasb-tichluy{
      width: 100%;
      overflow-x: scroll;
      .tab-content{
        width: 645px;
      }
    }
  } 
}